<!--Activity Area Start-->
<div class="activity-area" style="padding: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fa fa-cc-visa"></i>
                    </div>
                    <h4>Thủ tục xin Visa</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <h4>Hệ thống giáo dục</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fa fa-fort-awesome"></i>
                    </div>
                    <h4>Các trường tại Đức</h4>
                </div>
            </div>
            <div class="col-md-3 hidden-sm activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h4>Sống và học tập tại Đức</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Activity Area-->

<!--Class Grid Area Start-->
<div class="class-grid-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="#">
                            <img src="/public/client/img/gallery/1.jpg" alt="">
                            <span class="class-date">Apr 21 <span>2016</span></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="#">Letter Match Class</a></h4>
                            <p>Labore sequi impedit expedita alias dolore, nulla consequuntur tempore at voluptatibus fugit quo nihil fugiat!  alias ut delectus cupiditate voluptatum.</p>
                        </div>
                        <div class="class-schedule">
                            <span>AGE: 5 - 6 years</span>
                            <span>CLASS SIZE: 25</span>
                            <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <pagination></pagination>
    </div>
</div>
<!--End of Class Grid Area-->