
<!--Blog Details Area Start-->
<div class="blog-details-area section-padding blog-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="blog-post-wrapper">
                    <div class="blog-post-details">
                        <h1>{{post.title}}</h1>
                        <span><i class="fa fa-calendar"></i>{{post.created_date}}</span>
                    </div>
                    <!--<div class="blog-post-details-img">-->
                    <!--<img src="/public/client/img/blog/7.jpg" alt="">-->
                    <!--</div>-->
                    <div class="blog-post-details-text" ng-bind-html="post.content">
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>All Classes</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="sidebar-categories">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Drawing</a></li>
                            <li><a href="#">Color</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Children</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Recent Classes</h3>
                    </div>
                    <div class="single-widget-container">
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/public/client/img/gallery/15.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Alphabet Match Class</a></h4>
                                <span><i class="fa fa-calendar"></i>March 25, 2016</span>
                            </div>
                        </div>
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/public/client/img/gallery/16.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Cool Math Class</a></h4>
                                <span><i class="fa fa-calendar"></i>April 23, 2016</span>
                            </div>
                        </div>
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/public/client/img/gallery/17.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Color Match Class</a></h4>
                                <span><i class="fa fa-calendar"></i>July 12, 2016</span>
                            </div>
                        </div>
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/public/client/img/gallery/18.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Letter Match Class</a></h4>
                                <span><i class="fa fa-calendar"></i>June 29, 2016</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-widget-item hidden-sm">
                    <div class="single-widget-container">
                        <a href="#">
                            <img src="/public/client/img/banner/11.jpg" alt="">
                            <span>Enroll Your Child</span>
                        </a>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Tags</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="tag-list">
                            <li><a href="#">Art Class</a></li>
                            <li><a href="#">Class</a></li>
                            <li><a href="#">Letter</a></li>
                            <li><a href="#">Sport Class</a></li>
                            <li><a href="#">Learn</a></li>
                            <li><a href="#">Color</a></li>
                            <li><a href="#">Language</a></li>
                            <li><a href="#">Paint</a></li>
                            <li><a href="#">Letter</a></li>
                            <li><a href="#">Paint Class</a></li>
                            <li><a href="#">Toys</a></li>
                            <li><a href="#">Color</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Blog Details Area-->