
<!--Activity Area Start-->
<div class="activity-area" style="padding: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <a ui-sref="japanTag({tag:'visa'})">
                        <div class="single-activity-icon">
                            <i class="fa fa-cc-visa"></i>
                        </div>
                    </a>
                    <h4>Thủ tục xin Visa</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <a ui-sref="japanTag({tag:'visa'})">
                        <div class="single-activity-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                    </a>
                    <h4>Hệ thống giáo dục</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <a ui-sref="japanTag({tag:'visa'})">
                        <div class="single-activity-icon">
                            <i class="fa fa-fort-awesome"></i>
                        </div>
                    </a>
                    <h4>Các trường tại Hàn Quốc</h4>
                </div>
            </div>
            <div class="col-md-3 hidden-sm activity">
                <div class="single-activity">
                    <a ui-sref="japanTag({tag:'visa'})">
                        <div class="single-activity-icon">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </a>
                    <h4>Sống và học tập tại Hàn Quốc</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Activity Area-->

<!--Class Grid Area Start-->
<div class="class-grid-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6" ng-repeat="post in posts">
                <div class="single-class">
                    <div class="single-class-image">
                        <a ui-sref="koreanDetail({id:post._id})">
                            <img src="{{post.image}}" alt="">
                            <span class="class-date">{{post.created_date}}</span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a ui-sref="koreanDetail({id:post._id})">{{post.title}}</a></h4>
                            <p ng-bind-html="post.sort_content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination></pagination>
    </div>
</div>
<!--End of Class Grid Area-->