<!--Class List Area Start-->
<div class="class-list-area section-padding">
    <div class="container">

        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="class-list-item" ng-repeat="post in posts">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <a href="#"><img src="{{post.image}}" alt=""></a>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6">
                            <div class="class-list-text">
                                <h3><a ui-sref="koreanDetail({id:post._id})">{{post.title}}</a></h3>
                                <div class="class-information">
                                    <span>Date: {{post.created_date}}</span>
                                </div>
                                <p ng-bind-html="post.sort_content"></p>
                                <a ui-sref="koreanDetail({id:post._id})" class="button-default" style="margin-bottom: 15px">Read More <i class="fa fa-angle-right"></i></a>
                                <div class="fb-like" data-href="http://duhoctova.com/#!/korean/detail/{{post._id}}"
                                     data-layout="standard"
                                     data-action="like"
                                     data-size="small"
                                     data-show-faces="true"
                                     data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination></pagination>

            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Du học Hàn Quốc</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="sidebar-categories class">
                            <li><a href="#">Thủ tục xin Visa</a></li>
                            <li><a href="#">Hệ thống giáo dục</a></li>
                            <li><a href="#">Các trường tại Hàn Quốc</a></li>
                            <li><a href="#">Sống và học tập tại Hàn Quốc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Bài viết xem nhiều</h3>
                    </div>
                    <div class="single-widget-container">
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/public/client/img/gallery/15.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Alphabet Match Class</a></h4>
                                <span><i class="fa fa-calendar"></i>March 25, 2016</span>
                            </div>
                        </div>
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/public/client/img/gallery/16.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Cool Math Class</a></h4>
                                <span><i class="fa fa-calendar"></i>April 23, 2016</span>
                            </div>
                        </div>
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/public/client/img/gallery/17.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Color Match Class</a></h4>
                                <span><i class="fa fa-calendar"></i>July 12, 2016</span>
                            </div>
                        </div>
                        <div class="recent-post-item">
                            <div class="recent-post-image">
                                <a href="#"><img src="/public/client/img/gallery/18.jpg" alt=""></a>
                            </div>
                            <div class="recent-post-text">
                                <h4><a href="#">Letter Match Class</a></h4>
                                <span><i class="fa fa-calendar"></i>June 29, 2016</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-widget-item hidden-sm">
                    <div class="single-widget-container">
                        <div class="fb-page" data-href="https://www.facebook.com/Du-H%E1%BB%8Dc-H%C3%A0n-Qu%E1%BB%91c-TOVA-T%E1%BA%A1i-%C4%90%C3%A0-N%E1%BA%B5ng-1125120230914102/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Du-H%E1%BB%8Dc-H%C3%A0n-Qu%E1%BB%91c-TOVA-T%E1%BA%A1i-%C4%90%C3%A0-N%E1%BA%B5ng-1125120230914102/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Du-H%E1%BB%8Dc-H%C3%A0n-Qu%E1%BB%91c-TOVA-T%E1%BA%A1i-%C4%90%C3%A0-N%E1%BA%B5ng-1125120230914102/">Du Học Hàn Quốc TOVA Tại Đà Nẵng</a></blockquote></div>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Tags</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="tag-list">
                            <li><a href="#">Art Class</a></li>
                            <li><a href="#">Class</a></li>
                            <li><a href="#">Letter</a></li>
                            <li><a href="#">Sport Class</a></li>
                            <li><a href="#">Learn</a></li>
                            <li><a href="#">Color</a></li>
                            <li><a href="#">Language</a></li>
                            <li><a href="#">Paint</a></li>
                            <li><a href="#">Letter</a></li>
                            <li><a href="#">Paint Class</a></li>
                            <li><a href="#">Toys</a></li>
                            <li><a href="#">Color</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Class List Area-->