<!--Skill information Area Start-->
<div class="skill-information-area section-gray section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-skill-text">
                    <h2>Welcome to techedu</h2>
                    <span>Fable daycare, preschool, and kindergarten</span>
                    <p>Come with us, we also teach children about the basic values of human beings as honesty, kindness, generosity, courage, freedom, equality and respect. Learn to celebrate diversity in a spirit of understanding and tolerance and develop a positive regard and awareness of other people. They are taught the values and responsibilities needed to become active members of the community, something which the modern world is desperate for.</p>
                    <a href="#" class="button-default button-yellow">View More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-bars">
                    <div class="orange">
                        <div class="skill-bar-item">
                            <span>Playing Science</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">80%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lemon">
                        <div class="skill-bar-item">
                            <span>Arts And Craft</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">75%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sea-green">
                        <div class="skill-bar-item no-margin">
                            <span>Creative Writing</span>
                            <div class="progress no-margin">
                                <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">90%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Skill information Area-->
<!--Small Service Area Start-->
<div class="small-service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Services</h3>
                        <p>Our best services for your Kids</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Meals Provided</h4>
                        <p>It has survived not only five but also the lorem ipsum is leap of into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Full Day Session</h4>
                        <p>And more recently with desktop ispsing with the publishing software like Aldus PageMaker including of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-language"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Language Lessons</h4>
                        <p>Lorem ipsum dolor sit amet al cotetur adipisicing elit, sed do mod tempor incididunt ut labore etdolore versions ipsum!</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-bookmark"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Special Education</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-bus"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Transportation</h4>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages when is looking.</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Qualified Teachers</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Small Service Area-->
<!--Testimonial Carousel Area Start-->
<div class="testimonial-carousel-area section-padding section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Testimonials</h3>
                        <p>How real people said about Education TechEdu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial-carousel carousel-style-one border-white">
                <div class="col-md-6">
                    <div class="single-testimonial-carousel">
                        <div class="testimonial-carousel-text">
                            <h4>Good facility</h4>
                            <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus nibh, vulputate eu diam non, sodales tincidunt ligula. Pellentesque molestie nisl in dolor gravida commodo. Lorem ipsum dolor sit amet. ”</p>
                        </div>
                        <div class="testimonial-information">
                            <div class="testimonial-image">
                                <img src="/public/client/img/teacher/12.jpg" alt="">
                            </div>
                            <div class="testimonial-name">
                                <h4>Graves</h4>
                                <span>Art Director</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-testimonial-carousel">
                        <div class="testimonial-carousel-text">
                            <h4>Awsome services</h4>
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. ”</p>
                        </div>
                        <div class="testimonial-information">
                            <div class="testimonial-image">
                                <img src="/public/client/img/teacher/13.jpg" alt="">
                            </div>
                            <div class="testimonial-name">
                                <h4>Braum</h4>
                                <span>English Lecturer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-testimonial-carousel">
                        <div class="testimonial-carousel-text">
                            <h4>Good facility</h4>
                            <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus nibh, vulputate eu diam non, sodales tincidunt ligula. Pellentesque molestie nisl in dolor gravida commodo. Lorem ipsum dolor sit amet. ”</p>
                        </div>
                        <div class="testimonial-information">
                            <div class="testimonial-image">
                                <img src="/public/client/img/teacher/12.jpg" alt="">
                            </div>
                            <div class="testimonial-name">
                                <h4>Graves</h4>
                                <span>Art Director</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Testimonial Carousel Area-->
<!--Class Area Start-->
<div class="class-area section-padding class-yellow">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Classes</h3>
                        <p>Our preschool program has six dedicated classes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="class-carousel carousel-style-one">
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="#">
                                <img src="/public/client/img/class/10.jpg" alt="">
                                <span class="class-date">Apr 21 <span>2016</span></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="#">Letter Match Class</a></h4>
                                <p>The concept of the activity room is about 'Learning', through play, in a totally different environment. The perfect class for your child with the best.</p>
                            </div>
                            <div class="class-schedule">
                                <span>AGE: 5 - 6 years</span>
                                <span>CLASS SIZE: 25</span>
                                <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="#">
                                <img src="/public/client/img/class/11.jpg" alt="">
                                <span class="class-date">OCT 10 <span>2016</span></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="#">Cool Math Class</a></h4>
                                <p>The students learn different skills like rhythm, flexibility, and coordination. Lorem ipsum dolor sit amet. The perfect class for your child with the best.</p>
                            </div>
                            <div class="class-schedule">
                                <span>AGE: 4 - 5 years</span>
                                <span>CLASS SIZE: 38</span>
                                <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="#">
                                <img src="/public/client/img/class/12.jpg" alt="">
                                <span class="class-date">FEB 19 <span>2016</span></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="#">Alphabet Matching Class</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetu adipisicing elit. Facilis fugit perferendis quam quis. Ab alias amet animir adipisicing is explica.</p>
                            </div>
                            <div class="class-schedule">
                                <span>AGE: 3 - 4 years</span>
                                <span>CLASS SIZE: 50</span>
                                <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="#">
                                <img src="/public/client/img/class/10.jpg" alt="">
                                <span class="class-date">Apr 21 <span>2016</span></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="#">Letter Match Class</a></h4>
                                <p>The concept of the activity room is about 'Learning', through play, in a totally different environment. The perfect class for your child with the best.</p>
                            </div>
                            <div class="class-schedule">
                                <span>AGE: 5 - 6 years</span>
                                <span>CLASS SIZE: 25</span>
                                <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Class Area-->
<!--Google Map Area Start -->
<div class="google-map-area">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
        <div id="googleMap" style="width:100%;height:451px;"></div>
    </div>
</div>
<!--End of Google Map Area-->

<!--Google Map-->
<script>
    function initMap() {
        var uluru = {lat: 16.064886, lng: 108.182562};
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 15,
            center: uluru,
            scrollwheel: false
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9TfuJQNDY-1h3g6VkbRtAuLs9k5emxPQ&callback=initMap">
</script>
<!--End google map-->

<!-- main JS
		============================================ -->
<script src="/public/client/js/main.js"></script>