<!--Class Details Area Start-->
<div class="class-details-area section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="class-details-container">
                    <h1>Letter Match Class</h1>
                    <div class="class-details-carousel carousel-style-one">
                        <img src="/public/client/img/class/13.jpg" alt="">
                        <img src="/public/client/img/class/14.jpg" alt="">
                        <img src="/public/client/img/class/15.jpg" alt="">
                        <img src="/public/client/img/class/13.jpg" alt="">
                    </div>
                </div>
                <div class="class-details-tab">
                    <div class="class-details-tab-menu">
                        <ul role="tablist" class="nav nav-tabs">
                            <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="overview" data-target="#overview" ><i class="fa fa-graduation-cap"></i>Giới thiệu chung</a></li>
                            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="schedule" data-target="#schedule" ><i class="fa fa-calendar"></i>Tầm nhìn</a></li>
                            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="comments" data-target="#comments" ><i class="fa fa-comments"></i>Sứ mệnh</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active" role="tabpanel" >
                            Công ty TNHH MTV Trung Tâm Dịch Vụ TOVA ( gọi tắt là du học TOVA ) là một công ty cung cấp dịch vụ chuyên nghiệp về tư vấn du học các nước Mỹ, Úc, Canada, Hàn, Nhật.....Nguyên tắc hoạt đông của công ty "Tín, Trí, Tâm, Nhân"

                            <h3>1. Tín</h3>
                            <div class="tab-info">
                                <span class="icon">DU HỌC TOVA đặt chữ Tín lên hàng đầu, lấy chữ Tín làm vũ khí cạnh tranh và bảo vệ chữ tín như bảo vệ danh dự của mình.</span>
                                <span class="icon">Luôn đảm bảo mình bạch hoạt động, đúng và cao hơn cam kết của mình với khách hàng, đối tác, cam kết dịch vụ hoàn hảo nhất đến với khách hàng.</span>
                            </div>

                            <h3>2. Tâm</h3>
                            <div class="tab-info">
                                <span class="icon">Cam kết hoạt động theo đúng quy định của pháp luật.</span>
                                <span class="icon">Coi trọng khách hàng và luôn lấy khách hàng là trung tâm.</span>
                                <span class="icon">Đặt lợi ích của khách hàng lên hàng đầu.</span>
                                <span class="icon">Coi sự hài lòng của khách hàng là thước đo thành công.</span>
                                <span class="icon">Chăm sóc khách hàng bằng sự tự nguyện, hiểu rõ sứ mệnh hoạt động.</span>
                            </div>

                            <h3>3. Trí</h3>
                            <p>Luôn sáng tạo không ngừng trong hoạt động kinh doanh của mình, khuyến khích, tìm tòi sáng tạo tạo ra động lực cho sự phát triển của Công ty.</p>
                            <h3>4. Nhân</h3>
                            <div class="tab-info">
                                <span class="icon">DU HỌC TOVA  xây dựng các mối quan hệ với khách hàng, đối tác, đồng nghiệp, và xã hội bằng sự thiện chí, tình thân ái, tinh thần nhân văn.</span>
                                <span class="icon">DU HỌC TOVA luôn coi trọng nhân viên như là tài sản quý giá nhất; xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo và nhân văn; thực hành các chính sách phúc lợi ưu việt, tạo điều kiện thu nhập cao và cơ hội phát triển công bằng cho tất cả nhân viên trong công ty.</span>
                            </div>
                        </div>
                        <div id="schedule" class="tab-pane" role="tabpanel" >
                            <!--<h3>Weekly Courses Schedule For High School</h3>-->
                            <p>Bằng khát vọng vươn lên, Công ty TNHH MTV Trung Tâm Dịch Vụ TOVA ( DU HỌC TOVA)  luôn phấn đấu trở thành một công ty tư vấn chuyên nghiệp hàng đầu trong lĩnh vực tư vấn hỗ trợ giáo dục tại Việt Nam và trở thành thương hiệu mang tầm quốc tế với các đối tác nước ngoài.</p>

                        </div>
                        <div id="comments" class="tab-pane" role="tabpanel" >
                            <h5>Đối với khách hàng:</h5>
                            <p>Chúng tôi cam kết mang đến cho khách hàng dịch vụ tư vân với chất lượng tốt nhất đảm bảo các tiêu chí: Cụ thể, minh bạch  và rõ ràng .</p>

                            <h5>Đối với các đối tác:</h5>
                            <p>Chúng tôi luôn đề cao sự hợp tác cùng phát triển, cam kết trở thành người đồng hành đáng tin cậy cùng đối tác trong và ngoài nước. Hợp tác tạo nên sức mạnh bền vững.</p>

                            <h5>Đối với nhân viên:</h5>
                            <p>Xây dựng môi trường làm việc thoải mái, năng động, sáng tạo, chuyên nghiệp nâng cao khả năng làm việc hiệu quả.</p>

                            <h5>Đối với xã hội:</h5>
                            <p>Góp phần xây dựng đất nước bằng các công trình chất lượng và bền vững, hài hòa giữa lợi ích doanh nghiệp và lợi ích xã hội, tham gia các hoạt động hướng về cộng đồng, thể hiện trách nhiệm công dân và niềm tự hào dân tộc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Info Classes</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="class-infos">
                            <li><i class="fa fa-calendar"></i>Start Date: June 15, 2016</li>
                            <li><i class="fa fa-birthday-cake"></i>Years Old: 2-5 Years</li>
                            <li><i class="fa fa-bank"></i>Class Size: 30</li>
                            <li><i class="fa fa-clock-o"></i>Class Duration: 10:00 am - 1:00 pm</li>
                            <li><i class="fa fa-bus"></i>Transportation: Available</li>
                            <li><i class="fa fa-cutlery"></i>Morning Foods: Included</li>
                            <li><i class="fa fa-users"></i>Class Starff: 2 Teachers, 3 Caretakers</li>
                        </ul>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Teachers</h3>
                    </div>
                    <div class="single-widget-container">
                        <div class="teacher-info-widget">
                            <div class="widget-image">
                                <a href="#"><img src="/public/client/img/teacher/img-1.jpg" alt=""></a>
                            </div>
                            <div class="widget-infos">
                                <h4><a href="#">Graves</a></h4>
                                <p>Professor, Harvard College</p>
                            </div>
                        </div>
                        <div class="teacher-info-widget">
                            <div class="widget-image">
                                <a href="#"><img src="/public/client/img/teacher/img-2.jpg" alt=""></a>
                            </div>
                            <div class="widget-infos">
                                <h4><a href="#">Poppy</a></h4>
                                <p>Professor, Harvard College</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>Register Classes</h3>
                    </div>
                    <div class="single-widget-container">
                        <form action="#" method="post">
                            <input type="text" name="class" placeholder="Class Name">
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="email" name="email" placeholder="Your Email">
                            <textarea name="Message" placeholder="Message"></textarea>
                            <button type="submit" class="button-default button-yellow">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Class Details Area-->

<!-- main JS
		============================================ -->
<script src="/public/client/js/main.js"></script>