<!--Header Area Start-->
<header>
    <link rel="stylesheet" href="/public/client/css/tovacustom.css">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 hidden-xs">
                    <div class="header-top-info">
                        <span>Open hours: 8.00-18.00 Mon-Sat</span>
                        <div class="social-links">
                            <a href="https://www.facebook.com/duhoctova" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Logo Mainmenu Start-->
    <div class="header-logo-menu sticker">
        <div class="container">
            <div class="logo-menu-bg">
                <div class="row">
                    <div class="col-md-1 col-sm-12 col-md-offset-1">
                        <div class="logo" style="padding: 20px 0px !important;">
                            <a ui-sref="home"><img src="/public/client/img/logo/tova.jpeg" alt="TOVA"></a>
                        </div>
                    </div>
                    <div class="col-md-9 hidden-sm hidden-xs">
                        <div class="mainmenu-area">
                            <div class="mainmenu">
                                <nav>
                                    <ul id="nav">
                                        <li><a ui-sref="about">Giới thiệu</a></li>
                                        <li><a ui-sref="japan">Du học Châu Á <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a ui-sref="japan">Du học Nhật Bản</a></li>
                                                <li><a ui-sref="korean">Du học Hàn Quốc</a></li>
                                            </ul>
                                        </li>
                                        <li><a ui-sref="germany">Du học Châu Âu<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a ui-sref="canada">Du học Canada</a></li>
                                                <li><a ui-sref="american">Du học Mỹ</a></li>
                                                <li><a ui-sref="australia">Du học Úc</a></li>
                                                <li><a ui-sref="germany">Du học Đức</a></li>
                                            </ul>
                                        </li>
                                        <li><a ui-sref="classKorean">Lớp học<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a ui-sref="classKorean">Học tiếng hàn</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Tin tức<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a ui-sref="notify">Thông báo</a></li>
                                                <li><a ui-sref="news">Tin tức</a></li>
                                            </ul>
                                        </li>
                                        <li><a ui-sref="contact">Liên hệ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Logo Mainmenu-->
    <!-- Mobile Menu Area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li><a ui-sref="about">Giới thiệu</a></li>
                                <li><a ui-sref="japan">Du học Châu Á <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a ui-sref="japan">Du học Nhật Bản</a></li>
                                        <li><a ui-sref="korean">Du học Hàn Quốc</a></li>
                                    </ul>
                                </li>
                                <li><a ui-sref="germany">Du học Châu Âu<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a ui-sref="canada">Du học Canada</a></li>
                                        <li><a ui-sref="american">Du học Mỹ</a></li>
                                        <li><a ui-sref="australia">Du học Úc</a></li>
                                        <li><a ui-sref="germany">Du học Đức</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Lớp học<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Học tiếng Hàn</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Tin tức<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a ui-sref="notify">Thông báo</a></li>
                                        <li><a ui-sref="news">Tin tức</a></li>
                                    </ul>
                                </li>
                                <li><a ui-sref="contact">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area end -->
</header>
<!--End of Header Area-->